@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Teacher_Student_platform.Models.Entities.quesAns>

<h1>Question ans Answer</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var qA in Model)
        {
            <tr>
                <td>@qA.Id</td>
                <td>@qA.Name</td>
                <td>@qA.Email</td>
                <td>@qA.Question</td>
                <td>@qA.Answer</td>
                <td>
                    <a class="btn btn-primary" asp-controller="QueAns" asp-action="Edit" asp-route-id="@qA.Id">Reply-Ques</a>

                </td>
            </tr>
        }
    </tbody>
</table>